@font-face {
    font-family: Inter;
    src: url("../fonts/Inter-Bold.ttf") format("truetype");
    src: url("../fonts/Inter-Medium.ttf") format("truetype");
    src: url("../fonts/Inter-Regular.ttf") format("truetype");
}


/* Root -- variables */

a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    font-family: Inter;
    color: var(--primarycolor);
}

ol,
ul {
    list-style: none
}

a {
    text-decoration: none;
    color: inherit;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

html,
body {
    width: 100%;
    height: 100%;
    overflow: auto;
    font-size: var(--fontsize);
}

.f {
    display: flex;
}

.cent {
    justify-content: center;
    align-items: center;
}

.w100 {
    width: 100%
}

.wauto {
    width: auto;
}

.h100 {
    height: 100%;
}

.pad {
    padding: var(--padding);
}

.b {
    font-weight: 500;
}

.jstart {
    justify-content: start;
}

.fcol {
    flex-direction: column;
}

.text-white {
    color: var(--white);
}

.text-red {
    color: var(--red);
}

.text-green {
    color: #58D68D;
}

.text-purple {
    color: #0F4AE8;
}

.text-cyan {
    color: #0FDBE8;
}

.text-blue {
    color: #1DA1F2;
}


/* Default Variables */

:root {
    --border-light: #8080801c;
    --padding: 12px;
    --headingsize: 24px;
    --primarycolor: #17202A;
    --fontsize: 14px;
    --grey: grey;
    --border-visible-light: #8080803b;
    --white: #FDFEFE;
    --yellow: #ecc217;
    --red: #F43F3F;
    --whitesmoke: whitesmoke;
    --smallfont: 12px;
    --bright: #FFFF00;
    --tag: #47e88bd1;
    --hue: #d5f5e317;
    --darkbackground: #181818;
    --darkshade: #242526;
    --darkmini: #3A3B3C;
    --darkwhite: #F0F3F4;
    --darkgrey: #E5E7E9;
}


/* App Specific Styles */

.fixedheader {
    height: 70px;
    border-bottom: 1px solid var(--border-light);
    position: fixed;
    top: 0;
    background: var(--white);
    z-index: 1;
}

.header {
    align-items: center;
    justify-content: space-between;
    padding: 0px 70px;
}

.header img {
    height: 35px;
}

.header .badge {
    align-items: center;
    justify-content: center;
    font-size: 15px;
}

.header .badge img {
    height: 25px;
    margin-right: 10px;
}

.pagecontainer {
    height: calc( 100vh - 70px);
    margin-top: 70px;
}

.page {
    margin-top: 70px;
    height: calc( 100vh - 70px);
    overflow-y: scroll;
    padding: 0px 100px 0px 100px;
}

.splitter {
    /* height: calc( 100vh - 170px); */
    /* overflow-y: scroll; */
    justify-content: space-around;
}

.splitter .info {
    width: 50%;
    max-width: 520px;
}

.splitter .illustration {
    width: 50%;
    align-items: center;
    justify-content: center;
    max-width: 450px;
}

.illustration img {
    width: 325px;
    border-radius: 5px;
    margin-left: 75px;
}

.info h1 {
    font-size: 72px;
    font-weight: 500;
    line-height: 1.3;
    margin: 40px 0px 5px 0px;
}

.gradient {
    background: -webkit-linear-gradient(#12c2e9, #c471ed, #f64f59);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.info p {
    font-size: 18px;
    line-height: 1.8;
    margin-top: 20px;
    color: #666;
}

.download,
.contact {
    background: whitesmoke;
    padding: 15px 25px;
    align-items: center;
    margin-top: 30px;
    border-radius: 5px;
}

.contact {
    align-items: flex-start;
    padding-top: 25px;
}

.contact span {
    margin-right: 10px;
}

.contact p {
    margin: 0px 0px 10px;
}

.download p {
    margin: 0px 25px 0px 0px;
    color: var(--primarycolor);
}

.download span {
    font-size: 18px;
    background: var(--darkbackground);
    color: white;
    padding: 7px 15px;
    border-radius: 4px;
    cursor: pointer;
}

.footer {
    margin: 40px 0px 15px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.footer span {
    color: grey;
    margin-right: 15px;
    margin-bottom: 15px;
    font-size: 90%;
    cursor: pointer;
}

p.small {
    font-size: 14px;
    color: grey;
}

p.copyright {
    font-size: 12px;
    margin-top: 7px;
}

p.fuck {
    opacity: 0;
}

.feature {
    flex-wrap: wrap;
    margin-top: 20px;
}

.feature .single {
    display: flex;
    align-items: center;
    width: 40%;
    padding: 10px 5px;
}

.single img {
    height: 20px;
    margin-right: 10px;
}

.downloads {
    width: min-content;
    margin-top: 20px;
    align-items: center;
    display: inline-block;
}

.downloads img {
    height: 45px;
    display: inline-block;
}

@media screen and (max-width: 1100px) {
    .page {
        padding: 0px 50px;
    }
    .info h1 {
        font-size: 60px;
    }
    .illustration img {
        width: 250px;
        margin-left: 0px;
    }
}

@media screen and (max-width: 900px) {
    .splitter {
        flex-direction: column-reverse;
    }
    .splitter .illustration {
        width: 100%;
        max-width: none;
        margin-top: 30px;
        /* order: 2; */
    }
    .splitter .info {
        width: 100%;
        max-width: none;
        align-items: center;
        /* order: 1; */
    }
    .info p,
    .info h1 {
        text-align: center;
    }
    .feature {
        justify-content: center;
    }
    .downloads,
    .download {
        justify-content: center;
        margin-bottom: 25px;
    }
    .splitter,
    .pagecontainer,
    .page {
        height: auto;
    }
    .feature .single {
        width: 90%;
    }
}

@media screen and (max-width: 600px) {
    .page {
        padding: 0px 20px;
    }
    .info h1 {
        font-size: 42px;
    }
    .feature {
        max-width: 400px;
        justify-content: start;
    }
    p.desc {
        text-align: left;
        font-size: 16px;
        line-height: 1.6;
    }
    .header {
        padding: 0px 20px;
    }
    .header img {
        height: 32px;
    }
    .header .badge img {
        height: 22px;
    }
    .fixedheader {
        height: 60px;
    }
    .download {
        flex-direction: column;
        margin-bottom: 5px;
    }
    .download p {
        margin: 0px 0px 15px;
    }
    .contact {
        align-self: stretch;
    }
    .contact span {
        display: block;
    }
}