@font-face {
    font-family: Circular Std;
    src: url("../fonts/Inter-Bold.ttf") format("truetype");
    src: url("../fonts/Inter-Medium.ttf") format("truetype");
    src: url("../fonts/Inter-Regular.ttf") format("truetype");
}


/* Root -- variables */

a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    font-family: Inter;
}

ol,
ul {
    list-style: none
}

a {
    text-decoration: none;
    color: inherit;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

html,
body {
    width: 100%;
    height: 100%;
    overflow: auto;
}

body {
    overflow: auto;
    min-height: calc(100% - 100px);
    color: var(--black);
    line-height: 1.5;
}

b {
    color: var(--primary);
}


/* commonly used elements */

.circle {
    border-radius: 50%;
}

.i100 {
    width: 100px;
    height: 100px;
}

.flex {
    display: flex;
}

.f-col {
    flex-direction: column;
}

.align {
    align-items: center;
}

.jus {
    justify-content: center;
}

.bold {
    font-weight: 700;
}

.center {
    text-align: center;
}

.a-center {
    align-items: center;
}

.pointer {
    cursor: pointer;
}

.smog {
    color: var(--smog);
}

.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.primary-text {
    color: var(--primary);
}