@font-face {
    font-family: Inter;
    src: url("../fonts/Inter-Bold.ttf") format("truetype");
    src: url("../fonts/Inter-Medium.ttf") format("truetype");
    src: url("../fonts/Inter-Regular.ttf") format("truetype");
}


/* Root -- variables */

a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    font-family: Inter;
    color: var(--primarycolor);
}

ol,
ul {
    list-style: none
}

a {
    text-decoration: none;
    color: inherit;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

html,
body {
    width: 100%;
    height: 100%;
    overflow: auto;
    font-size: var(--fontsize);
}

.f {
    display: flex;
}

.cent {
    justify-content: center;
    align-items: center;
}

.w100 {
    width: 100%
}

.wauto {
    width: auto;
}

.h100 {
    height: 100%;
}

.pad {
    padding: var(--padding);
}

.b {
    font-weight: 500;
}

.jstart {
    justify-content: start;
}

.fcol {
    flex-direction: column;
}

.text-white {
    color: var(--white);
}

.text-red {
    color: var(--red);
}

.text-green {
    color: #58D68D;
}

.text-purple {
    color: #0F4AE8;
}

.text-cyan {
    color: #0FDBE8;
}

.text-blue {
    color: #1DA1F2;
}


/* Default Variables */

:root {
    --border-light: #8080801c;
    --padding: 12px;
    --headingsize: 24px;
    --primarycolor: #17202A;
    --fontsize: 14px;
    --grey: grey;
    --border-visible-light: #8080803b;
    --white: #FDFEFE;
    --yellow: #ecc217;
    --red: #F43F3F;
    --whitesmoke: whitesmoke;
    --smallfont: 12px;
    --bright: #FFFF00;
    --tag: #47e88bd1;
    --hue: #d5f5e317;
    --darkbackground: #181818;
    --darkshade: #242526;
    --darkmini: #3A3B3C;
    --darkwhite: #F0F3F4;
    --darkgrey: #E5E7E9;
}


/* App Specific Styles */

.fixedheader {
    height: 50px;
    border-bottom: 1px solid var(--border-light);
    position: fixed;
    top: 0;
    background: var(--white);
    z-index: 1;
}

.header {
    align-items: center;
    justify-content: space-between;
    padding: 0px 15px;
}

.header img {
    height: 27px;
}

.header ion-icon {
    width: 35px;
    height: 22px;
    color: var(--grey);
}

.pagecontainer {
    height: calc( 100vh - 50px);
    margin-top: 50px;
}

#stats,
#menu {
    padding: 15px 20px;
    overflow: scroll;
}

.list {
    font-size: 14px;
    padding: 10px 15px;
    justify-content: space-between;
    border: 1px solid var(--border-light);
    margin-bottom: 15px;
    background: var(--hue);
}

.list .title span {
    margin-left: 20px;
}

.list ion-icon {
    font-size: 20px;
}

#stats .info {
    text-align: center;
    margin-bottom: 10px;
    color: var(--grey);
    font-size: 75%;
}

#stats img {
    margin: 0px auto;
    height: 180px;
}

.label {
    font-size: 85%;
    color: var(--grey);
    margin: 10px 0px 20px 0px;
}

.badge {
    justify-content: start;
    flex-direction: column;
    align-items: center;
}

.badgeinfo {
    margin-top: 10px;
    justify-content: center;
    align-items: center;
}

.badgeinfo .version {
    font-size: 80%;
    color: var(--grey);
    margin-top: 5px;
}

img.app,
#stats img.app {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.badge span {
    font-size: 44px;
    color: var(--red);
}

.list.okay {
    width: fit-content;
    background: var(--primary);
    margin: 20px auto 30px auto;
    border-radius: 3px;
    font-size: 12px;
    border: 1px solid var(--border-visible-light);
    padding: 7px 12px;
}

#menu .badge .badgeinfo {
    margin-top: 15px;
}

.card {
    background: var(--white);
    position: relative;
}

.image-container img {
    width: 100%;
    height: 35vh;
    object-fit: cover;
}

.post-container {
    height: calc( 65vh - 65px);
    padding: 5px 12px;
    overflow-y: scroll;
    /* position: relative; */
}

.post-container .post {
    margin-top: 20px;
}

.post ul {
    padding-left: 20px;
    list-style-type: disc;
}

.post ol {
    padding-left: 20px;
    list-style-type: decimal;
}

.post li {
    margin-bottom: 7px;
    line-height: 1.6;
}

.post li::marker {
    color: var(--grey);
}

.share-container {
    height: 40px;
    width: 40px;
    position: absolute;
    bottom: 25px;
    right: 15px;
    background: var(--whitesmoke);
    border-radius: 50%;
}

.share-container ion-icon {
    font-size: 25px;
}

.post-footer {
    align-items: center;
    padding-left: 12px;
    font-size: 10px;
    height: 32px;
}

.post-footer span {
    color: var(--grey);
}

.post p {
    margin-bottom: 15px;
    line-height: 1.7;
}

p.small {
    color: var(--grey);
    font-size: var(--smallfont);
}

blockquote {
    margin-bottom: 25px;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none;
}

h1.title {
    font-size: 17px;
    line-height: 1.5;
    margin-top: 7px;
}

.image-container {
    position: relative;
}

.image-container h6 {
    position: absolute;
    bottom: 39px;
    left: 10px;
    background: var(--tag);
    padding: 4px 9px;
    border-radius: 3px;
    font-size: var(--smallfont);
}

.post-wrapper {
    position: absolute;
    /* top: calc( 35vh - 20px); */
    background: white;
    height: calc( 65vh - 30px);
    border-top-left-radius: 3%;
    border-top-right-radius: 3%;
    bottom: 0px;
}

.pagecontainer #home {
    position: relative;
    transition: transform 750ms ease-in-out;
}

.switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 17px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 3px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #67a3e6;
}

input:checked+.slider:before {
    -webkit-transform: translateX(12px);
    -ms-transform: translateX(12px);
    transform: translateX(12px);
}

.slider.round {
    border-radius: 17px;
}

.slider.round:before {
    border-radius: 50%;
}

.fullscreenloader {
    z-index: 1;
    background: var(--white);
    left: 0;
    top: 0;
    position: fixed;
    width: 100%;
    height: 100%;
}

.loader {
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.loader img {
    width: 64px;
    height: auto;
    margin-bottom: 25px;
}


/* Dark Theme codes */

.theme-dark .fixedheader,
.theme-dark #menu,
.theme-dark .fullscreenloader {
    background: var(--darkbackground);
}

.theme-dark .post-wrapper,
.theme-dark .loadingcard {
    background: var(--darkshade);
}

.theme-dark .label,
.theme-dark .header ion-icon,
.theme-dark p.small {
    color: var(--darkgrey);
}

.theme-dark .page,
.theme-dark .list .title span,
.theme-dark p,
.theme-dark h1.title,
.theme-dark .post li {
    color: var(--darkwhite);
}

.theme-dark .list ion-icon {
    color: var(--grey);
}

.theme-dark .slider,
.theme-dark .share-container {
    background: var(--darkmini);
}

.theme-dark .slider:before {
    background: var(--grey);
}

.theme-dark input:checked+.slider:before {
    background: var(--darkwhite);
}

.theme-dark .list {
    background: var(--border-light);
}